<template name="header">
<div id="header">
<div class="container">
{{#if currentUser}}
<div id="welcomeLine" class="row">

	<div class="span6">Welcome!<strong> {{currentUser.profile.firstName}}</strong></div>
	<div class="span6">
	<div class="pull-right">
		<a href="product_summary.html"><span class="">Fr</span></a>
		<a href="product_summary.html"><span class="">Es</span></a>
		<span class="btn btn-mini">En</span>
		<a href="product_summary.html"><span>&pound;</span></a>
		<span class="btn btn-mini">$155.00</span>
		<a href="product_summary.html"><span class="">$</span></a>
		<a href="product_summary.html"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 3 ] Items in your cart </span> </a> 
	</div>
	</div>
</div>
{{/if}}
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="/"><img src="http://localhost:3000/themes/images/logo.png" alt="Bootsshop"/></a>
	<form class="form-inline navbar-search" method="post" action="products.html" >
		<input id="srchFld" class="srchTxt" type="text" />
		  <select class="srchTxt">
			<option>All</option>
			<option>CLOTHES </option>
			<option>FOOD AND BEVERAGES </option>
			<option>HEALTH & BEAUTY </option>
			<option>SPORTS & LEISURE </option>
			<option>BOOKS & ENTERTAINMENTS </option>
		  </select> 
		  <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
	 <li class=""><a href="special_offer.html">Specials Offer</a></li>
	 <li class=""><a href="normal.html">Delivery</a></li>
	 <li class=""><a href="/contact-us">Contact</a></li>
	 {{#if currentUser}}
        	 <li><a href="#" class="logout">Logout</a></li>
    	{{else}}
        <li class="">
		 <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
		<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Login Block</h3>
			  </div>
			<form>
				<div class="modal-body">
					<form class="form-horizontal loginFrm">
					  <div class="col-xs-5 messageContainer alert alert-danger" style="display:none;" id="messageContainer" ></div>
					  <div class="control-group">								
						<input type="text" name="loginEmail" id="inputEmail" placeholder="Email">
						
					  </div>
					  <div class="control-group">
						<input type="password" name="loginPassword" id="inputPassword" placeholder="Password">
					</div>
					  <div class="control-group">
						<label class="checkbox">
						<input type="checkbox"> Remember me
						</label>
					  </div>
					</form>		
					<button type="submit" class="btn btn-success">Sign in</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</form>			
				
		</div>
		</li>
		{{/if}}
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->
</template>