<template name="login">
<div class="login1-page">
  	<div class="form1">
    	<form class="register-form1">
      		<input type="text"  placeholder="name"/>
		    <input type="password" placeholder="password"/>
		    <input type="text" placeholder="email address"/>
		     <button>create</button>
      		<p class="message1">Already registered? <a href="#">Sign In</a></p>
    	</form>
    <form class="login-form1">
      	<input type="text" id="inputEmail" name="inputEmail" placeholder="username"/>
      	<input type="password" id="inputPassword" name="inputPassword" placeholder="password"/>
      	<button>login</button>
      	<p class="message1">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</template>