<template name="addproduct">
<div class="container">
  <div class="row">
  <div class="span9">
      <ul class="breadcrumb">
      <li><a href="http://localhost:3000">Home</a> <span class="divider">/</span></li>
      <li class="active">Add Product</li>
      </ul>
    <h3> Add Product</h3>  
    <div class="well">

	<form class="addproduct">
  		<fieldset>
      	<div class="control-group">
      		<input type="text" class="input-xlarge" name="title" placeholder="title" required />
      	</div>
      	<div class="control-group">
       		<input type="text" class="input-xlarge" name="name" placeholder="name" required>
       	</div>
   	    <div class="control-group">
       		<input type="text" class="input-xlarge" name="email" placeholder="email" required>
      	</div>
      	<div class="control-group">
       		<input type="text" class="input-xlarge" name="category" placeholder="category" required>
      	</div>
        <div class="control-group">
       		<input type="file" class="input-xlarge" name="image" required>
      	</div>
        <div class="control-group">
       		<input type="text" class="input-xlarge" name="brand" placeholder="brand" required>
      	</div>
		   	<div class="control-group">
          <input type="text" class="input-xlarge" name="price" placeholder="price" required>
        </div>
      	<div class="control-group">
          <textarea class="input-xlarge" id="textarea" name="details" rows="3" required ></textarea>
       	</div>
       	<div class="control-group">
          <textarea class="input-xlarge" id="textarea" name="description" rows="3" required></textarea>
       	</div>
			  <button type="submit" class="btn btn-large">Save</button>
		</fieldset>
	</form>
  </div>
  </div>
  </div>
  </div>
</template>