<template name="featuredproduct">
<div class="well well-small">
      <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
      <div class="row-fluid">
      <div id="featured" class="carousel slide">
      <div class="carousel-inner">

        <div class="item active">
        <ul class="thumbnails">
        
        {{#each featuredproduct}}
          <li class="span3">
            <div class="thumbnail">
            <i class="tag"></i>
            <a href="/product_details"><img src="themes/images/products/b1.jpg" alt=""></a>
            <div class="caption">
              <h5>{{title}}</h5>
              <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
            </div>
          </li>
        {{/each}}
        

        </ul>
        </div>

        <div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="product_details.html"><img src="themes/images/products/6.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/7.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/8.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>
         <div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/9.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/10.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/11.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/1.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>
         <div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/3.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/4.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
        </div>
    </div>
</template>