<template name="latest_product">

      <h4>Latest Products </h4>
        <ul class="thumbnails">
        
        {{#each latest_product}}
        <li class="span3">
          <div class="thumbnail">
          <a href="/product-detail/{{idToString this}}">
            <img src="themes/images/products/6.jpg" alt=""/>
          </a>
          <div class="caption">
            <h5>{{title}}</h5>
            <p> 
            {{description}}
            </p>
           
            <h4 style="text-align:center">
              <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> 
              <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> 
              <a class="btn btn-primary" href="#">${{price}}</a>
            </h4>
          </div>
          </div>
        </li>
        {{/each}}

        </ul>

</template>